@{
    ViewData["Title"] = "Домашняя Страница";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать!</h1>
    <p>
        Simsovision - музыкальный конкурс в мире Симс, вдохновленный европейским праздником песни Евровидение.

        Симсовидение проходит с 2013 года на сайте thesims.cc и уже стало самым ожидаемым событием каждого лета.
    </p>
</div>
