@{
    ViewData["Title"] = "Домашняя Страница";
}

    <div class="text-center">
        <h1 class="display-4">Добро Пожаловать!</h1>
        <p>
            Simsovision - музыкальный конкурс в мире Симс, вдохновленный европейским праздником песни Евровидение.

            Симсовидение проходит с 2013 года на сайте thesims.cc и уже стало самым ожидаемым событием каждого лета.
        </p>
        <iframe width="1000" height="563" src="https://www.youtube.com/embed/TrdOcPs8rG0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>