@{
    ViewData["Title"] = "Политика Конфиденциальности";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>
        Данная лабораторная работа была создана в исключительно обучающих целях и не ставит за цель оскорбление тех или иных чувств определенных групп людей, а также разжигание вражды, дискриминацию и так далее по списку.
        Людмила Леонидовна, примите пожалуйста :3
    </p>
    </div>
